/* style.css */

.st.sidebar.Button > button {
    width: 100% !important;
    height: 50px;
    margin-bottom: 10px;
    /* background-color: #007bff;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    transition: background-color 0.3s; */
}

